html {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin: auto;
    text-align: center;
    padding-top: 1em;
}
#index {
    text-align: center;
    margin: auto;
    max-width: 40em;
    padding: 2em;
}

#main-content {
    max-width: 80em;
    min-width: 20em;
}

.jumbotron {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

form {
    text-align: left;
}