html {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin: auto;
    text-align: center;
    padding-top: 1em;
}

#main-content {
    text-align: center;
    margin: auto;
    display: inline-block;
    max-width: 50em;
    min-width: 20em;
    padding: 2em;
    background-color: #fafafa;
}

.btn {
    border: none;
    color: white;
    padding: 0.6em 1em;
    cursor: pointer;
}

.default {
    background-color: lightgrey;
    font-size: 0.8em;
    color: black;
}
.default:hover {
    background: #ddd;
}

input{
    padding: 10px;
    margin: 10px;
    height: 20px;
    width: 20em;
    font-size: 1em;
    border: 1px solid #eaeaea;
    outline:none;
}

input:hover{
    border-color: #a0a0a0 #b9b9b9 #b9b9b9 #b9b9b9;
}

input:focus{
    border-color:#4d90fe;
}

input[type="submit"] {
    background: #f2f2f2;
    border: 1px solid #f2f2f2;
    color: #757575;
    cursor: default;
    font-size: 14px;
    font-weight: bold;
    width: 100px;
    padding: 0 16px;
    height:36px;
}

input[type="submit"]:hover {
    background: #f8f8f8;
    border: 1px solid #c6c6c6;
    color: #222;
}