<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <title>Goeievraag</title>
    <link href="/static/styles.css" rel="stylesheet">
</head>
<body>
<div id="main-content">
    <img src="/static/logo.png" width="64" height="64">
    <p>Welkom bij de Goeievraag zoekmachine</p>

    <br/>
    <br/>
    {% if not advanced %}
        <form id="search-form" action="/search" method="post">
            <input class="input" type="text"
                   name="query" id="query"
                   placeholder="Zoekopdracht" required/>
            <br/>
        </form>
    {% else %}

    {% endif %}

    <button type="submit" class="submit" id="submit_q" form="search-form">
        Zoeken
    </button>

    {% if not advanced %}
        <a href="/advanced">
            <button class="submit">
                Geavanceerd
            </button>
        </a>
    {% else %}
        <a href="/">
            <button class="submit">
                Normaal
            </button>
        </a>
    {% endif %}
</div>

</body>
</html>