<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <title>Goeievraag</title>
    <link href="/static/styles.css" rel="stylesheet">
    <script>
        function toggleAdvanced() {

        }
    </script>
</head>
<body>
<div id="main-content">
    <img src="/static/logo.png" width="64" height="64">
    <p>Welkom bij de Goeievraag zoekmachine</p>

    <br/>
    <br/>
    <form id="search-form" action="/search" method="post">
        <input class="input" type="text"
               name="query" id="query"
               placeholder="Zoekopdracht" required/>
        <br/>
    </form>

    <button type="submit" class="submit" id="submit_q" form="search-form">
            Zoeken
    </button>

    <button class="submit" onclick="toggleAdvanced()">
            Geavanceerd
    </button>
</div>

</body>
</html>